<%- include('partials/header') %>
<div class="container d-flex flex-column align-items-center mt-5 min-vh-100 text-center">
    <h1 class="mb-4">Bienvenido</h1>
    <button class="btn btn-primary m-3 btn-lg" onclick="window.location.href='/shifts'">Turnos Disponibles</button>
    <button class="btn btn-primary m-3 btn-lg">Mis Turnos</button>
</div>
<%- include('partials/footer') %>