<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D Luke Barber</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="h-100 m-0">
    <main class="d-flex flex-column min-vh-100">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">D Luke Barber</a>
          <% if (!hideNavbar) { %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2">
                <li class="nav-item me-3">
                  <a class="nav-link" href="/shifts/own">Mis Turnos</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="/shifts">Turnos Disponibles</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="/logout">Cerrar Sesión</a>
                </li>
              </ul>
          </div>
          <% } %>
        </div>
      </nav>
</html>
